/* ## Colors

### Primary

- Linear gradient (active input border): hsl(249, 99%, 64%) to hsl(278, 94%, 30%)
- Red (input errors): hsl(0, 100%, 66%)

### Neutral

- White: hsl(0, 0%, 100%)
- Light grayish violet: hsl(270, 3%, 87%)
- Dark grayish violet: hsl(279, 6%, 55%)
- Very dark violet: hsl(278, 68%, 11%)

## Typography

### Body Copy

- Font size: 18px

### Font

- Family: [Space Grotesk](https://fonts.google.com/specimen/Space+Grotesk)
- Weights: 500 */

@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

*,*::after,*::before
 {
margin: 0;
padding: 0;
box-sizing: border-box;
}



main{
  display: flex;
    min-width: 1440px;
    
    font-family: "Space Grotesk", sans-serif;
    font-weight: 500;
    height: 100vh;
    font-size: 18px;
    background-image: url(./images/bg-main-desktop.png);
    background-repeat: no-repeat;
    background-position-y: 200px;
   

    
}

.card{
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
 
 

   
    
}
.logo{
    width: 60px;
    position: relative;
    bottom: 130px;
    left: 230px;
}
.eg-cvc{
    position: relative;
    left: 575px;
    bottom: 140px;
    letter-spacing: 1.5px;
    font-size: 13px;
}
.number{
    position: relative;
    bottom: 70px;
    left: 230px;
   font-weight: 500;
   font-size: 20px;
   letter-spacing: 4.9px;
}
.customer{
    position: relative;
    bottom: 50px;
    left: 230px;
    font-size: 13px;
    letter-spacing: 1.9px;
   
}
.date{
    position: relative;
    bottom: 65px;
    left: 530px; 
    font-size: 13px;
    letter-spacing: 1.9px;
}
.card-front{
    width: 400px;
    margin-left: 200px;
    position: relative;
    top: 55px;
    box-shadow: 10px 10px 90px black;
   
}

.card-back{
    width: 400px;
    margin-left: 260px;
    position: relative;
    bottom: 20px;

border-radius: 10px;
    box-shadow: 10px 10px 200px black;
    
    
}




.card-detail{
display: flex;


}
form{
    display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 500px 150px;
  font-size: 11px;
  letter-spacing: 1.5px;
  text-transform: uppercase;

 
}
article{
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
}
heading{
    display: flex;
    gap: 22px;
}
sub{
    display: flex;
    gap: 0px;
}

.customer-name{
padding: 10px;
border-radius: 10px;
margin-bottom: 20px;
cursor: pointer; 
}
.card-number{
padding: 10px;
border-radius: 10px;
cursor: pointer;
margin-bottom: 20px;
}
label{
margin-bottom: 5px;
}
.month{
    width: 70px;
    padding: 10px;
    cursor: pointer;
    padding-right: 12px;
    border-radius: 10px;
    margin-right: 8px;
}
.year{
    width: 70px;
    padding: 10px;
    padding-right: 12px;
    border-radius: 10px;
    cursor: pointer;
}

.cvc{
    padding: 10px;
    margin-left: 20px;
    border-radius: 10px;
    cursor: pointer;
}


.submit-btn{
    padding: 13px;
    border-radius: 10px;
    font-weight:500;
    color: white;
    background: hsl(278, 68%, 11%);
    cursor: pointer;
    letter-spacing: 1.2px;
}

.valid{
    display: none;
}
    .invalid{
    color: red;
    display: block;
    }

    .error{
        color: red;
        
    }


    .hidden{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 0px 100px ;
        gap: 20px;
        padding: 30px;
        border: 2px solid black;
      position:relative ;
      right: 400px;
      transform-origin: center;
      transition: ease-in-out;
      transition-duration: 20ms;
      visibility:hidden;

    }
    .next{
        padding: 10px 100px;
        background-color: rgb(31, 25, 61);
        color: white;
        border-radius: 50px;
        cursor: pointer;


    }